{% extends "base_login.html" %}
{% block content %}
<form method="post" onsubmit="return validateForm()">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="username" id="username" class="form-control required-input" placeholder="Username" required>
    </div>
    <div class="mb-3 position-relative">
        <input type="password" name="password" id="admin-password" class="form-control required-input" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-custom w-100">Login</button>
</form>
{% endblock %}
