{% extends "base_login.html" %}
{% block login_title %}Student Login{% endblock %}
{% block content %}
<form method="post" onsubmit="return validateForm()">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="admission_number" id="admission-number" class="form-control required-input" placeholder="Admission Number" required>
    </div>
    <div class="mb-3 position-relative">
        <input type="password" name="password" id="student-password" class="form-control required-input" placeholder="Password" required>
        
    </div>
    <button type="submit" class="btn btn-custom w-100">Login</button>
</form>
{% endblock %}
